@charset "UTF-8";

/*Configurações GLobais*/
*{
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #D6D58E, #DBF227);
}

main{
    background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px 15px rgb(174, 193, 32);
    width: 600px;
    padding: 10px 30px;
    margin: auto; /*Para centralizar o texto na página*/
}

h1{
    color: #042940;
    text-align: center;
    text-shadow: 1px 1px 2px #031e2f80;
}

h2{
    color: #005C53;
}

p{
    text-align: justify;
}